@import "./assets/infoIndex/infoIndex";

.infoParentDiv {
  display: flex;
  flex-direction: row;
    .content{ 
      p{
        padding: 6vh 0 0 0;
        font-size: 1rem;
      }
      justify-content: center;
      width:50%;
}
      .titles { 
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 25%;
        a{ 
          &:active {
          font-weight: bold;
          }
          font-size: 20px;
          padding: 2.5vh 0 0 0;
        }
        
  }
}
/*
.pageInfo {
  margin-top: 2rem !important;
  padding-bottom: 2rem;
  font-family: $font-content;

  @media #{$smartphone} {
    margin-top: 50px;
}

  p{
      font-size: 0.9rem;
      // margin-top: 20px;
      margin-bottom: 20px;
  }

  p.imgLegend{
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  h5{
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.InfoMobileCtr{

  &:first-child{
    margin-top: 50px;
  }

  .infoContainer{
    margin-right: 0px !important;
    margin-left: 0px !important;

    p{
      padding-right: 10px;
      padding-bottom: 10px;
      font-size: 1rem !important;
    }

    img{
      padding-right: 5px;
      padding-bottom: 5px;
      margin-bottom: 20px
    }
  }
}
*/